@page
@model Avicola.FrontEnd.Pages.ConsultaGalponModel;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h4 class="display-4">Consulta Galpones</h4>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ubicacion</th>
        <th scope="col">Veterinario</th>
        <th scope="col">Acción</th>
      </tr>
    </thead> 
  
  @foreach (var galpon in Model.galpones)
  {
    <tbody>
      <tr>
        <th scope="row">@galpon.Id</th>
        <td>@galpon.Nombre</td>
        <td>@galpon.Ubicacion</td>
        @if(galpon.Veterinario!=null){
        <td>@galpon.Veterinario.Nombre - @galpon.Veterinario.Apellido</td>
        }else{
          <td>SIN ASIGNAR</td>
        }
        <td><a class="btn btn-primary" asp-page="./Galpon" asp-route-id="@galpon.Id">Editar</a>
        <a class="btn btn-primary" asp-page="./DetalleGalpon" asp-route-id="@galpon.Id">Ver</a>
        </td>
      </tr>
    </tbody>  
  }
</table>
<a class="btn btn-secondary" asp-page="./Galpon">Volver</a>