@page
@model Avicola.Frontend.Pages.VarModel
@{
}

<div align="center">
    <H3>Resumen de Variables</H3>
    <a asp-page="EditVar" class="btn btn-primary table-btn">
        Crear Nueva
    </a>
</div>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Editar</th>
        <th>Borrar</th>
    </tr>
    @foreach (var item in Model.variablesBD
)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
            <td>@item.Tipo</td>
            <td>
            <a class="btn btn-primary table-btn" asp-page="EditVar" asp-route-idvar="@item.Id">
                <i class="fas fa-info-circle">
                    Editar
                </i>
            </a>
            </td>
            <td>
            <a class="btn btn-primary table-btn" asp-page="BorrarVariable" asp-route-idvar="@item.Id">
                <i class="fas fa-info-circle">
                    Borrar
                </i>
            </a>
            </td>
        </tr>
    }

</table>